$colors: (
  primary: #fff,
  secondary: #e74c3c,
  third: #f7f8f9,
  fourth: #292b2c
);

$fonts: (
  primary: "Roboto Medium"
);

body,
html {
  height: 100%;
}

// Body

div {
  background-color: map-get($colors, primary);
}

body,
html {
  font-family: "Roboto";
  margin: 0;

  .App {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  .logo {
    width: 120px;
    height: 47px;
    margin-top: 5px;
  }
  .titletaskbg {
    width: 75%;
    height: 100%;
    box-shadow: inset 0 -1px 0 #e4e8eb;
    background-color: map-get($colors, secondary);
  }
  .titletask {
    width: 50%;
    height: 50%;
    color: map-get($colors, primary);
    font-size: 18px;
    font-weight: 900;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 5.5%;
  }
  .titletaskselected {
    color: #252627;
    font-size: 18px;
    line-height: 28px;
  }
  .rectanglebutton {
    width: 80%;
    height: 50%;
    border-radius: 3px;
    border: 1px solid #e4e8eb;
    background-color: map-get($colors, primary);
    margin-top: 6%;
  }
  .crosscheck {
    margin-right: 85%;
    margin-top: 3%;
  }
  .markasdone {
    width: 150px;
    height: 15px;
    color: #9b9c9c;
    font-family: map-get($fonts, primary);
    font-size: 10.8px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: -15px;
    margin-left: 15%;
  }
  .profilpic {
    position: absolute;
  }
  .leftpanel {
    width: 360px;
    height: 50px;
    background-color: map-get($colors, primary);
  }
  .rightpanel {
    position: absolute;
  }
  .form {
    width: 350px;
    height: 28px;
    color: #c4c4c4;
    font-family: map-get($fonts, primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    border: none;
    margin-top: 3%;
    margin-left: 3%;
  }
  .descriptionform {
    width: 99%;
    height: 184px;
    border: none;
  }
  .taskrectangle {
    width: 200px;
    height: 60px;
    background-color: map-get($colors, primary);
    display: flex;
    flex-direction: row;
    margin-left: 100%;
  }
  .ulperso {
    width: 1vw;
    padding: 0;
  }
  .taskrectangle:hover {
    border-left: 4px solid #f76c6c;
    color: #263238;
    font-weight: bold;
    padding-left: 10px;
  }
  .task {
    color: map-get($colors, fourth);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    z-index: 1;
    margin-top: 5%;
    margin-left: 30%;
  }
  .mainbutton {
    width: 148px;
    height: 42px;
    box-shadow: 0 3px 10px #e4e8eb;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .position_of_plus {
    position: absolute;
    color: grey;
    margin-left: 11px;
    margin-top: -1px;
  }
  .position_of_clock {
    position: absolute;
    margin-left: 8px;
    margin-top: 1px;
  }
  .position_of_button_name {
    margin-left: 8%;
  }
  .description_rectangle {
    height: 80%;
    width: 100%;
  }
  .description_title {
    margin-left: 10%;
  }
  .input_description_inner {
    width: 90%;
    height: 60%;
    border-radius: 2px;
    border: 1px solid #e4e8eb;
    margin-left: 5%;
  }
  .comment_button {
    width: 120px;
    height: 32px;
    border-radius: 3px;
    background-color: map-get($colors, secondary);
    margin-left: 60%;
    margin-top: 2%;
  }
  .commenter {
    width: 77px;
    height: 14px;
    color: map-get($colors, primary);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 5%;
    margin-left: 10%;
  }
  .icon_paper_pen {
    padding: 10px;
    margin-left: -10%;
  }
}

// Grid

.wrapper {
  border: 1px solid #e4e8eb;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px);
}
.one {
  grid-column: 1 / 5;
}
.two {
  grid-column: 5 / 11;
  grid-row: 1;
}
.tree {
  grid-column: 11 / 13;
  grid-row: 1;
}
.four {
  grid-column: 4 / 12;
  grid-row: 1;
}
.five {
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1;
}
.six {
  grid-column: 4 / 12;
  display: flex;
  flex-wrap: wrap;
  background-color: map-get($colors, third);
  width: 105%;
  height: 400px;
  padding: 4%;
}
