$colors: (
  primary: #fff,
  secondary: #e74c3c,
  third: #f7f8f9,
  fourth: #292b2c
);

$fonts: (
  primary: "Roboto"
);

body,
html {
  height: 100%;
}

// Body

div {
  background-color: map-get($colors, primary);
}

body,
html {
  font-family: "Roboto";
  margin: 0;

  .App {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  .logo {
    width: 120px;
    height: 47px;
    margin-top: 5px;
  }
  .titletaskbg {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: map-get($colors, secondary);
    z-index: 1;
  }
  .titletask {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    height: 50%;
    color: map-get($colors, primary);
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 20px;
  }
  .titletaskselected {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #252627;
    font-size: 18px;
    line-height: 28px;
    margin-left: 3%;
  }
  .rectanglebutton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 50%;
    border-radius: 3px;
    border: 1px solid #e4e8eb;
    background-color: map-get($colors, primary);
    outline: none;
    align-self: center;
  }
  .crosscheck {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
  }
  .markasdone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #9b9c9c;
    font-family: map-get($fonts, primary);
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 5%;
  }
  .input {
    display: flex;
    flex-direction: column;
  }
  .profilpic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
  }
  .form {
    width: 10%;
    height: 28px;
    color: #c4c4c4;
    font-family: map-get($fonts, primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    border: none;
    outline: none;
  }
  .descriptionform {
    width: 97%;
    height: 32vh;
    border: none;
    outline: none;
    text-align: left;
    padding: 10px;
    font-family: map-get($fonts, primary);
    font-size: 16px;
    font-weight: 500;
  }
  .taskrectangle {
    width: 24vw;
    height: 60px;
    background-color: map-get($colors, primary);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-left: 4px solid #fff;
    color: #263238;
    font-weight: bold;
    padding-left: 10px;
    align-self: center;
  }
  .taskrectangle:focus {
    background-color: map-get($colors, third);
    border-left: 4px solid #f76c6c !important;
    outline: none;
  }
  .ulperso {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .ulcontainer {
    overflow: scroll;
    height: 68vh;
  }
  .position_of_date_in_list {
    position: absolute;
    width: 64px;
    height: 15px;
    opacity: 0.8;
    color: #a5a6a6;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    margin-left: 17%;
  }
  .task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    color: map-get($colors, fourth);
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 5%;
    margin-top: -3%;
  }
  .task_input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 900px;
    height: 65px;
    box-shadow: inset 0 -1px 0 #e4e8eb;
    background-color: #ffffff;
    margin-left: -3%;
    border: 1px solid #c4e8eb;
    margin-top: -1px;
  }
  .input_of_task {
    width: 21vw;
    color: #c4c4c4;
    font-family: "Roboto Medium";
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    outline: none;
  }
  .mainbutton {
    width: 148px;
    height: 42px;
    box-shadow: 0 3px 10px #e4e8eb;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    outline: none;
    margin-left: 3%;
    margin-bottom: 3%;
  }
  .datepickermodal {
    position: absolute;
    z-index: 1;
  }
  .position_of_plus {
    position: absolute;
    color: grey;
    margin-left: 11px;
    margin-top: -1px;
  }
  .position_of_clock {
    position: absolute;
    margin-left: 8px;
    margin-top: 1px;
  }
  .position_of_button_name {
    margin-left: 8%;
  }
  .description_rectangle {
    height: 60vh;
    width: 100%;
  }
  .description_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 20px;
    font-weight: bold 500;
  }
  .input_description_inner {
    width: 85%;
    height: 60%;
    border-radius: 2px;
    border: 1px solid #e4e8eb;
    margin-left: 7%;
  }
  .comment_button {
    width: 120px;
    height: 32px;
    border-radius: 3px;
    background-color: map-get($colors, secondary);
    justify-content: flex-end;
    margin-right: 7.7%;
    margin-top: 2vh;
    border: 1px solid #c4e8eb;
    outline: none;
  }
  .commenter {
    width: 77px;
    height: 14px;
    color: map-get($colors, primary);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 6%;
    margin-left: 11%;
  }
  .icon_paper_pen {
    padding: 10px;
    width: 24px;
    height: 24px;
  }
  .description_top_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 15px;
  }
  .description_button_end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2.8vh;
    border-top: 1px solid #c4e8eb;
  }
  .position_of_date {
    margin-left: 8%;
  }
  .react-datepicker {
    margin-top: 2%;
    margin-left: -2%;
    position: absolute;
    background-color: #ffff !important;
  }
  .reeact-datepicker__header {
    background-color: #ffff !important;
  }
}

// Grid

.wrapper {
  border: 1px solid #e4e8eb;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px);
}
.one {
  grid-column: 1 / 4;
  grid-row: 1;
}
.two {
  grid-column: 4 / 11;
  grid-row: 1;
}
.tree {
  grid-column: 11 / 13;
  grid-row: 1;
  display: flex;
  justify-content: flex-start;
}
.four {
  grid-column: 4 / 12;
  grid-row: 1;
}
.five {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-column: 1 / 4;
  grid-row: 1;
  overflow: scroll;
}
.six {
  grid-column: 4 / 12;
  display: flex;
  flex-wrap: wrap;
  background-color: map-get($colors, third);
  width: 105%;
  height: 70vh;
  padding: 4%;
  justify-content: flex-start;
}
